{%- comment -%} Default Styles {%- endcomment -%}
{%- assign card_style  = '' -%}
{%- assign text_style  = 'text-themed' -%}
{%- assign badge_style = 'badge-dark' -%}

{%- comment -%} Update Styles {%- endcomment -%}
{%- if post.style == 'fill' -%}
  {%- assign card_style = post.color | prepend: 'bg-' -%}
  {%- if post.color != 'light' -%}
    {%- assign text_style  = 'text-white' -%}
    {%- assign badge_style = 'badge-light text-' -%}
    {%- assign badge_style = badge_style | append: post.color -%}
  {%- endif -%}
{%- else -%}
  {%- assign card_style = post.color | prepend: 'border border-' -%}
  {%- if post.color -%}
    {%- assign badge_style =  post.color | prepend: 'badge-' -%}
  {%- endif -%}
{%- endif -%}

{%- comment -%} Determine Post URL {%- endcomment -%}
{%- if post.external_url -%}
  {%- assign post_url = post.external_url -%}
{%- else -%}
  {%- assign post_url = post.url | relative_url -%}
{%- endif -%}
   
<style>
  :root {
    --card-title-light: #dce0e8;
    --card-title-dark: #cdd6f4;
    --gradient-light-1: #9e6edddc;
    --gradient-light-2: rgba(0, 0, 0, 0.356);
    --gradient-dark-1: rgba(182, 149, 222, 0.582);
    --gradient-dark-2: rgba(0, 0, 0, 0.356);  
  }

  [data-theme='light'] {
    --card-title-color: var(--card-title-light);
    --gradient-1: var(--gradient-light-1);
    --gradient-2: var(--gradient-light-2);
  }

  [data-theme='dark'] {
    --card-title-color: var(--card-title-dark);
    --gradient-1: var(--gradient-dark-1);
    --gradient-2: var(--gradient-dark-2);
  }

  .card-title {
    color: var(--card-title-color);
    text-shadow: 
      0 0 16px #0000008f,
      2px 2px 1px #00000036;
    margin-top: 3.3em;
    margin-left: 0.2em;
    position: relative;
    z-index: 3;
    font-weight: 600; 
  }

  .card-img-overlay {
    border-radius: 9px;
    object-fit: cover;
    overflow: hidden;
  }

  .card-img-overlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      ellipse at bottom,
      var(--gradient-1) 10%,
      transparent 64%
    );
    pointer-events: none;
    z-index: 0;
    opacity: 0.5;
    transition: opacity 0.3s ease; 
  }

  .card-img-overlay:hover::after {
    opacity: 0.9;
    );
  }

  .card-img-overlay::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -30%;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      ellipse at bottom,
      var(--gradient-2) 15%,
      transparent 70%
    );
    pointer-events: none;
    z-index: 1;
  }
</style>

{%- assign card_data = site.data.virtual-photography[post.slug][post.card-image] -%}
{%- assign card_url = card_data.url -%}

<div class="col-12 my-1 wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ post_url }}" class="vp card text-themed" {%- if post.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
    <img loading="lazy" src="{{ card_url }}" alt="{{ post.title }}" class="card-img-top" style="object-position: 0 {{post.card-offset}}%;">
    <div class="card-img-overlay">
      <h3 class="card-title">{{ post.title }}</h3>
    </div>
  </a>
</div>

