// Syntax highlighting for code blocks (dark)
// Catppuccin Mocha inspired palette

.highlight .hll { background-color: transparent } // No background for highlighted lines
.highlight      { background: transparent; color: $text-white } // Transparent container
pre.highlight, .highlight pre { background-color: #1a1a21; } // Block background

.highlight .c   { color: #9399b2; font-style: italic } /* Comment */
.highlight .err { color: $danger; background-color: transparent } /* Error */
.highlight .esc { color: $text-white } /* Escape */
.highlight .g   { color: $text-white } /* Generic */
.highlight .k   { color: $primary; font-weight: bold } /* Keyword */
.highlight .l   { color: $text-white } /* Literal */
.highlight .n   { color: $text-white } /* Name */
.highlight .o   { color: $info; font-weight: bold } /* Operator */
.highlight .x   { color: $text-white } /* Other */
.highlight .p   { color: #9399b2 } /* Punctuation */
.highlight .ch  { color: #9399b2; font-style: italic } /* Comment.Hashbang */
.highlight .cm  { color: #9399b2; font-style: italic } /* Comment.Multiline */
.highlight .cp  { color: $info; font-weight: bold } /* Comment.Preproc */
.highlight .cpf { color: #9399b2; font-style: italic } /* Comment.PreprocFile */
.highlight .c1  { color: #9399b2; font-style: italic } /* Comment.Single */
.highlight .cs  { color: #9399b2; font-weight: bold; } /* Comment.Special */
.highlight .gd  { color: $danger } /* Generic.Deleted */
.highlight .ge  { color: $text-white; font-style: italic } /* Generic.Emph */
.highlight .gr  { color: $danger } /* Generic.Error */
.highlight .gh  { color: $primary; font-weight: bold } /* Generic.Heading */
.highlight .gi  { color: $success } /* Generic.Inserted */
.highlight .go  { color: #9399b2 } /* Generic.Output */
.highlight .gp  { color: #9399b2 } /* Generic.Prompt */
.highlight .gs  { color: $text-white; font-weight: bold } /* Generic.Strong */
.highlight .gu  { color: $primary; text-decoration: underline } /* Generic.Subheading */
.highlight .gt  { color: $danger } /* Generic.Traceback */
.highlight .kc  { color: $primary; font-weight: bold } /* Keyword.Constant */
.highlight .kd  { color: $primary; font-weight: bold } /* Keyword.Declaration */
.highlight .kn  { color: $primary; font-weight: bold } /* Keyword.Namespace */
.highlight .kp  { color: $primary } /* Keyword.Pseudo */
.highlight .kr  { color: $primary; font-weight: bold } /* Keyword.Reserved */
.highlight .kt  { color: $primary; font-weight: bold } /* Keyword.Type */
.highlight .ld  { color: $text-white } /* Literal.Date */
.highlight .m   { color: $warning } /* Literal.Number */
.highlight .s   { color: $success } /* Literal.String */
.highlight .na  { color: $secondary } /* Name.Attribute */
.highlight .nb  { color: $info } /* Name.Builtin */
.highlight .nc  { color: $primary; text-decoration: underline } /* Name.Class */
.highlight .no  { color: $warning } /* Name.Constant */
.highlight .nd  { color: $info } /* Name.Decorator */
.highlight .ni  { color: $text-white } /* Name.Entity */
.highlight .ne  { color: $danger } /* Name.Exception */
.highlight .nf  { color: $secondary } /* Name.Function */
.highlight .nl  { color: $text-white } /* Name.Label */
.highlight .nn  { color: $text-white; text-decoration: underline } /* Name.Namespace */
.highlight .nx  { color: $text-white } /* Name.Other */
.highlight .py  { color: $text-white } /* Name.Property */
.highlight .nt  { color: $primary; font-weight: bold } /* Name.Tag */
.highlight .nv  { color: $text-white } /* Name.Variable */
.highlight .ow  { color: $info; font-weight: bold } /* Operator.Word */
.highlight .w   { color: $text-white } /* Text.Whitespace */
.highlight .mb  { color: $warning } /* Literal.Number.Bin */
.highlight .mf  { color: $warning } /* Literal.Number.Float */
.highlight .mh  { color: $warning } /* Literal.Number.Hex */
.highlight .mi  { color: $warning } /* Literal.Number.Integer */
.highlight .mo  { color: $warning } /* Literal.Number.Oct */
.highlight .sa  { color: $success } /* Literal.String.Affix */
.highlight .sb  { color: $success } /* Literal.String.Backtick */
.highlight .sc  { color: $success } /* Literal.String.Char */
.highlight .dl  { color: $success } /* Literal.String.Delimiter */
.highlight .sd  { color: #9399b2 } /* Literal.String.Doc */
.highlight .s2  { color: $success } /* Literal.String.Double */
.highlight .se  { color: $info } /* Literal.String.Escape */
.highlight .sh  { color: $success } /* Literal.String.Heredoc */
.highlight .si  { color: $info } /* Literal.String.Interpol */
.highlight .sx  { color: $success } /* Literal.String.Other */
.highlight .sr  { color: $info } /* Literal.String.Regex */
.highlight .s1  { color: $success } /* Literal.String.Single */
.highlight .ss  { color: $info } /* Literal.String.Symbol */
.highlight .bp  { color: $text-white } /* Name.Builtin.Pseudo */
.highlight .fm  { color: $secondary } /* Name.Function.Magic */
.highlight .vc  { color: $text-white } /* Name.Variable.Class */
.highlight .vg  { color: $text-white } /* Name.Variable.Global */
.highlight .vi  { color: $text-white } /* Name.Variable.Instance */
.highlight .vm  { color: $text-white } /* Name.Variable.Magic */
.highlight .il  { color: $warning } /* Literal.Number.Integer.Long */
